<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	 	
	 <!-- 관리자 생성 -->
	 <insert id="insert" parameterType="AhzitUserDto">
	 	insert into ahzit_user(user_id, user_pw, user_nick, user_email, user_grade) 
	 	values(#{userId}, #{userPw}, ('운영자' || manager_sqe.NEXTVAL), ('admin' || manager_sqe.NEXTVAL || '@naver.com'), '운영자')
	 </insert>
	
	 <!-- 회원 전체 조회(admin) -->
	 <select id="list" resultType="AhzitUserDto">
		select * from ahzit_user order by user_grade asc
	</select>
	
	<!--관리자 등급 변경 -->
	<update id="change" parameterType ="AhzitUserDto">
		update ahzit_user set user_grade = #{userGrade} where user_id = #{userId}
	</update>

</mapper>