<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	 	
	 <!-- 관리자 생성 -->
	 <insert id="insert" parameterType="AhzitUserDto">
	 	insert into ahzit_user(user_id, user_pw, user_nick, user_email, user_grade) 
	 	values(#{userId}, #{userPw}, ('운영자' || manager_sqe.NEXTVAL), ('admin' || manager_sqe.NEXTVAL || '@naver.com'), '운영자')
	 </insert>
	
	 <!-- 회원 전체 조회(admin) -->
	 <select id="allList" parameterType="map" resultType="AhzitUserDto">
		select * from (select rownum rn, TMP.* from (select * from ahzit_user order by user_grade asc
		)TMP)where rn between #{startRow} and #{endRow}
	</select>
	
	<!-- 회원 검색 조회 -->
	<select id="searchList" parameterType="map" resultType="AhzitUserDto">
	select * from (select tmp.*,  rownum rn from (select * from ahzit_user where instr(${type}, #{keyword}) > 0
	order by user_grade asc)tmp) where rn between #{startRow} and #{endRow}
	</select>	
	
	<!--검색 조회시 회원 수 -->
	<select id = "searchListCount" resultType = "int">
		select count(*) from ahzit_user where instr(${type}, #{keyword}) > 0
	</select>
	
	<!-- 전체 회원 수 -->
	<select id="allListCount" resultType="int">
		select count(*) from ahzit_user
	</select>
	
	<!--관리자 등급 변경 -->
	<update id="change" parameterType ="AhzitUserDto">
		update ahzit_user set user_grade = #{userGrade} where user_id = #{userId}
	</update>
	
	<!--관리자 등급 변경 -->
	<update id="changeGrade" parameterType ="AhzitUserDto">
		update ahzit_user set user_grade = '운영자' where user_id != #{userId} and user_grade = '관리자'
	</update>
	
	<!-- 소모임 전체 조회(admin) -->
	 <select id="ahzitAllList" parameterType="map" resultType="AhzitDto">
		select * from (select rownum rn, TMP.* from (select * from ahzit order by ahzit_no asc
		)TMP)where rn between #{startRow} and #{endRow}
	</select>
	
	<!-- 소모임 검색 조회 -->
	<select id="ahzitSearchList" parameterType="map" resultType="AhzitDto">
	select * from (select tmp.*,  rownum rn from (select * from ahzit where instr(${type}, #{keyword}) > 0
	order by ahzit_no asc)tmp) where rn between #{startRow} and #{endRow}
	</select>	
	
	<!--검색 조회시 소모임 수 -->
	<select id = "ahzitSearchListCount" resultType = "int">
		select count(*) from ahzit where instr(${type}, #{keyword}) > 0
	</select>
	
	<!-- 전체 소모임 수 -->
	<select id="ahzitAllListCount" resultType="int">
		select count(*) from ahzit
	</select>
	
	<!-- 1:1 문의 전체 조회(admin) -->
	 <select id="inquireAllList" parameterType="map" resultType="InquireDto">
		select * from (select rownum rn, TMP.* from (select * from inquire where inquire_state='N' order by inquire_no desc
		)TMP)where rn between #{startRow} and #{endRow}
	</select>
	
	<!-- 1:1 문의 검색 조회 -->
	<select id="inquireSearchList" parameterType="map" resultType="InquireDto">
	select * from (select tmp.*,  rownum rn from (select * from inquire where inquire_state='N' and instr(${type}, #{keyword}) > 0
	order by inquire_no desc)tmp) where rn between #{startRow} and #{endRow}
	</select>	
	
	<!--검색 조회시 문의글 수 -->
	<select id = "inquireSearchListCount" resultType = "int">
		select count(*) from inquire where inquire_state='N' and instr(${type}, #{keyword}) > 0
	</select>
	
	<!-- 전체 문의글 수 -->
	<select id="inquireAllListCount" resultType="int">
		select count(*) from inquire where inquire_state='N'
	</select>
	
	<!--  일자 별 회원 가입 수 -->
	 <select id="ahzitUserCountList" resultType="AhzitUserJoinCountVO">
		 SELECT COUNT(*)AS userCnt,TO_CHAR(user_joindate,'YYYY-MM-DD') AS user_joindate FROM ahzit_user GROUP BY TO_CHAR(user_joindate,'YYYY-MM-DD')
		 order by user_joindate asc
	</select> 	

	 <!--  아지트 관심사 별 개수 -->
	 <select id="ahzitSortCount" resultType="AhzitDto">
		select ahzit_sort, count(*) cnt from ahzit group by ahzit_sort order by cnt asc
	</select>
	
	 <!--  회원수에 따른 아지트 나열 : 10개 -->
	 <select id="ahzitHeadCount" resultType="AhzitDto">
		select * from (select rownum rn, TMP.* from (select ahzit_name from ahzit order by ahzit_head desc )TMP) where rn between 1 and 10 
	</select>
	
	<!-- 관리자 홈 화면 출력 게시판 -->
	 <!-- 공지사항  -->
	 <select id="noticeListForMain" resultType="NoticeDto">
		select * from (select rownum rn, TMP.* from (select * from notice order by NOTICE_NO desc )TMP) where rn between 1 and 5
	</select>
	
	<!-- 1:1 문의 -->
	 <select id="inquireListForMain" resultType="InquireDto">
		select * from (select rownum rn, TMP.* from (select * from inquire where inquire_state='N' order by inquire_no desc )TMP) where rn between 1 and 5
	</select>
	
</mapper>