<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ahzit">
  
  		<!-- 시퀀스 발행 -->
  		<select id="sequence" resultType="int">
  			select ahzit_seq.nextval from dual
  		</select>
  		
  		<!-- 소모임 생성 -->
  		<insert id="insert" parameterType="AhzitDto" >
  			insert into ahzit(
  			ahzit_no, ahzit_leader, ahzit_sort, ahzit_name, ahzit_info, ahzit_region_high, ahzit_region_low, ahzit_ispublic) 
  			values (#{ahzitNo}, #{ahzitLeader}, #{ahzitSort}, #{ahzitName}, #{ahzitInfo}, #{ahzitRegionHigh}, #{ahzitRegionLow}, #{ahzitIspublic})
  		</insert>
  		
  		<!-- 소모임 목록 -->
  		<select id="list" resultType="AhzitDto">
  			select * from ahzit order by ahzit_no desc
  		</select>
  		
  		<!-- 소모임 단일조회 -->
  		<select id="one" parameterType="int" resultType="AhzitDto">
  			select * from ahzit where ahzit_no = #{ahzitNo}
  		</select>
  		
  		<!-- 소모임 수정(소모임이름, 소개, 최대멤버수, 공개여부, 프로필사진)-->		
  		 <update id="update" parameterType="AhzitDto" >
	  		update ahzit 
	  			set
	  				ahzit_name = #{ahzitName} , 
	  				ahzit_info = #{ahzitInfo}, 
	  				ahzit_headmax = #{ahzitHeadMax}, 
	  				ahzit_isPublic = #{ahzitIspublic}
	  			where
	  				ahzit_no = #{ahzitNo}
  		 </update>

  		<!-- 소모임 삭제 -->
  		<delete id="delete" parameterType="AhzitDto">
  			delete ahzit where ahzit_no=#{ahzitNo}
  			<!--  <![CDATA[
  			delete ahzit where ahzit_no=#{ahzitNo} and ahzit_leader=#{ahzitLeader} and ahzit_head=1
  			]]> -->
  		</delete>

		<!-- 로그인 중인 회원이 가입한 소모임인지 조회 -->
		<select id = "joinAlready" parameterType = "map" resultType = "int">
			select * from ahzit_user inner join ahzit_member on user_id = member_id where member_no = #{memberNo} and user_id = #{userId}
		</select>
		
		<!-- 찾기 페이지에서 전체 소모임 조회 -->
		<select id = "allSort" parameterType = "map" resultType = "AhzitSearchListResponseVO">
			select * from (select tmp.*, rownum rn from (select aa.ahzit_attachment_no, a.* from ahzit a left outer join ahzit_attachment aa on a.ahzit_no = ahzit_origin_no where ahzit_state = 'N' and ahzit_ispublic = 'N' order by ahzit_no desc)tmp) where rn between #{rownumStart} and #{rownumEnd}
		</select>
		
		<!-- 찾기 페이지에서 특정 카테고리 소모임 조회 -->
		<select id = "searchSort" parameterType = "map" resultType = "AhzitSearchListResponseVO">
			select * from (select tmp.*, rownum rn from (select aa.ahzit_attachment_no, a.* from ahzit a left outer join ahzit_attachment aa on a.ahzit_no = ahzit_origin_no where ahzit_state = 'N' and ahzit_ispublic = 'N' and instr(ahzit_sort, #{keyword}) > 0 order by ahzit_no desc)tmp) where rn between #{rownumStart} and #{rownumEnd}
		</select>
		
		<!-- 홈 화면의 검색창 전체 조회 -->
		<select id = "allAhzit" parameterType = "map" resultType = "AhzitSearchListResponseVO">
			select * from (select tmp.*, rownum rn from (select aa.ahzit_attachment_no, a.* from ahzit a left outer join ahzit_attachment aa on a.ahzit_no = ahzit_origin_no where ahzit_state = 'N' and ahzit_ispublic = 'N')tmp) where rn between #{rownumStart} and #{rownumEnd}
		</select>

		<!-- 홈 화면의 검색창 검색 조회 -->
		<select id = "searchAhzit" parameterType = "map" resultType = "AhzitSearchListResponseVO">
			select * from (select tmp.*, rownum rn from (select aa.ahzit_attachment_no, a.* from ahzit a left outer join ahzit_attachment aa on a.ahzit_no = ahzit_origin_no where ahzit_state = 'N' and ahzit_ispublic = 'N' and instr(ahzit_name, #{keyword}) > 0)tmp) where rn between #{rownumStart} and #{rownumEnd}
		</select>
		
		<!--전체 조회시 아지트 총 갯수 반환 -->
		<select id = "allCount" resultType = "int">
			select count(*) from ahzit
		</select>
		
		<!--전체 조회시 아지트 총 갯수 반환 -->
		<select id = "sortCount" parameterType = "map"  resultType = "int">
			 select count(*) from ahzit where ahzit_sort = #{keyword}
		</select>

		<!-- 소모임에 가입한 회원 정보 전체 조회 -->
		<select id = "allMember" parameterType = "map" resultType = "AhzitMemberInfoVO">
			select * from (
			    select tmp.*, rownum rn from (
			        select am.*, ma.member_attachment_no from ahzit_member am left outer join member_attachment ma on am.member_no = ma.member_origin_no where am.member_ahzit_no = #{memberAhzitNo} order by am.member_no asc
			    )tmp
			) where rn between #{startRow} and #{endRow}
		</select>
		
		<!-- 소모임에 가입한 회원 정보 검색 조회 -->
		<select id = "searchMember" parameterType = "map" resultType = "AhzitMemberInfoVO">
			select * from (
			    select tmp.*, rownum rn from (
			        select am.*, ma.member_attachment_no from ahzit_member am left outer join member_attachment ma on am.member_no = ma.member_origin_no where am.member_ahzit_no = #{memberAhzitNo} and instr(am.member_nick, #{keyword}) > 0 order by am.member_no asc
			    )tmp
			) where rn between #{startRow} and #{endRow}
		</select>
		
		<!-- 소모임에 가입한 전체 회원 수 반환 -->
		<select id = "countallMember" parameterType = "int" resultType = "int">
			select count(*) from ahzit_member where member_ahzit_no = #{memberAhzitNo}
		</select>
		
		<!-- 소모임에 가입한 회원 중 특정 글자로 시작하는 회원 수 반환 -->
		<select id = "countsearchMember" parameterType = "map" resultType = "int">
			select count(*) from ahzit_member where member_ahzit_no = #{memberAhzitNo} and instr(member_nick, #{keyword}) > 0
		</select>
  
  </mapper>