<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ahzit">
  
  		<!-- 시퀀스 발행 -->
  		<select id="ahzitSequence" resultType="int">
  			select ahzit_seq.nextval from dual
  		</select>
  		
  		<!-- 소모임 생성 -->
  		<insert id="ahzitInsert" parameterType="AhzitDto">
  			insert into ahzit(
  			ahzit_no, ahzit_leader, ahzit_sort, ahzit_name, ahzit_info, ahzit_region_high, ahzit_region_low, ahzit_ispublic) 
  			values(#{ahzitNo}, #{ahzitLeader}, #{ahzitSort}, #{ahzitName}, #{ahzitInfo}, #{ahzitRegionHigh}, #{ahzitRegionLow}, #{ahzitIsPublic})
  		</insert>
  		
  		<!-- 소모임 목록 -->
  		<select id="list" resultType="AhzitDto">
  			select * from ahzit
  		</select>
  		
  		<!-- 소모임 단일조회 -->
  		<select id="one" parameterType="int" resultType="AhzitDto">
  			select * from ahzit where ahzit_no = #{ahzitNo}
  		</select>
  		
  		<!-- 소모임 수정(소모임이름, 소개, 최대멤버수, 공개여부, 프로필사진)-->
  		<update id="ahzitUpdate" parameterType="AhzitDto">
  			update ahzit 
  				set ahzit_name=#{ahzitName},  ahzit_info=#{ahzitInfo}, ahzit_headmax=#{ahzitHeadMax}, ahzit_ispublic=#{ahzitIsPublic} where ahzit_no = #{ahzitNo}
  		</update>
  
  </mapper>