<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ahzitLeader">
 
	<insert id="insert" parameterType="map" >
  		insert into ahzit_member(
  			member_no, member_ahzit_no, member_id, member_nick, member_grade, member_joindate) 
  		values (
  			ahzit_member_seq.nextval, #{memberAhzitNo}, #{memberId}, #{memberNick}, '개설자', sysdate
  			)
   </insert>
   
   <select id="one" parameterType="String" resultType="AhzitUserDto">
		select * from ahzit_user where user_id = #{userId}
   </select>
   

  </mapper>