<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "ahzitBoard">

	<!-- 소모임 번호와 아이디로 특정 소모임 내 회원 정보 조회 -->
	<select id = "selectMemberInfo" parameterType = "map" resultType = "AhzitMemberDto">
		select * from ahzit_member where member_ahzit_no = #{memberAhzitNo} and member_id = #{memberId}
	</select>
	
	<!-- 게시글 등록-->
	<insert id = "insert" parameterType = "AhzitBoardDto">
		insert into ahzit_board(board_no, board_writer_no, board_ahzit_no, board_content) values(ahzit_board_seq.nextval, #{boardWriterNo}, #{boardAhzitNo}, #{boardContent})
	</insert>
	
	<!-- 특정 소모임 내 모든 게시글 전체 조회 -->
	<select id = "allList" parameterType = "int" resultType = "AhzitBoardVO">
		select ab.board_no, ab.board_content, ab.board_like, ab.board_writedate, am.member_no, am.member_nick, am.member_grade from ahzit_board ab inner join ahzit_member am on ab.board_writer_no = am.member_no where am.member_ahzit_no = #{memberAhzitNo} and ab.board_state != 'Y' order by board_no desc
	</select>
	
	<!-- 특정 소모임 내 모든 게시글 검색 조회 -->
	<select id = "searchList" parameterType = "map" resultType = "AhzitBoardVO">
		select ab.board_no, ab.board_content, ab.board_like, ab.board_writedate, am.member_no, am.member_nick, am.member_grade from ahzit_board ab inner join ahzit_member am on ab.board_writer_no = am.member_no where am.member_ahzit_no = #{memberAhzitNo} and ab.board_state != 'Y' and instr(ab.board_content, #{keyword}) > 0 order by board_no desc
	</select>
	
</mapper>