<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "attachment">

	<!-- 다음 첨부파일 번호 반환 -->
	<select id = "nextAttachmentNo" resultType = "int">
		select attachment_seq.nextval from dual
	</select>

	<!-- 첨부파일 등록 -->
	<insert id = "insertAttachment" parameterType = "AttachmentDto">
		insert into attachment(attachment_no, attachment_name, attachment_type, attachment_size) values(#{attachmentNo}, #{attachmentName}, #{attachmentType}, #{attachmentSize})
	</insert>
	
	<!-- 첨부파일 목록 -->
	<select id="selectAttachmentList"  resultType="AttachmentDto">
		select * from attachment order by attachment_no desc
	</select>
	
	
	<!-- 첨부파일 조회 -->
	<select id = "selectAttachment" parameterType = "int" resultType = "AttachmentDto">
		select * from attachment where attachment_no = #{attachmentNo}
	</select>
	
	<!-- 첨부파일 삭제 -->
	<delete id = "deleteAttachment" parameterType = "int">
		delete attachment where attachment_no = #{attachmentNo}
	</delete>
	
	<!-- 자유게시글 첨부파일 등록 -->
	<insert id = "insertFreeboardAttachment" parameterType = "map">
		insert into freeboard_attachment(freeboard_origin_no, freeboard_attachment_no) values(#{freeboardOriginNo}, #{freeboardAttachmentNo})
	</insert>
	
	<!-- 자유게시글 원본 번호와 연결된 첨부파일 전체 조회 -->
	<select id = "selectFreeboardAttachment" parameterType = "int" resultType = "AttachmentDto">
		select faa.attachment_no, faa.attachment_name, faa.attachment_type, faa.attachment_size, faa.attachment_date from freeboard f left outer join (select * from freeboard_attachment fa inner join attachment a on fa.freeboard_attachment_no = a.attachment_no) faa on f.freeboard_no = faa.freeboard_origin_no where f.freeboard_no = #{freeboardAttachmentNo}
	</select>
	
	<!-- 자유게시글 첨부파일 삭제 -->
	<delete id = "deleteFreeboardAttachment" parameterType = "int">
		delete freeboard_attachment where freeboard_attachment_no = #{attachmentNo}
	</delete>
	

	<!-- 소모임프로필 등록 -->
 	<insert id="insertAhzitAttachment" parameterType="map">
		insert into ahzit_attachment(ahzit_origin_no, ahzit_attachment_no) values (#{ahzitOriginNo}, #{ahzitAttachmentNo})
	</insert> 
	
	<!-- 소모임프로필 조회 -->
	<select id="selectAhzitAttachment" parameterType="int" resultType = "AttachmentDto">
		<!-- select * from ahzit_attachment_view where ahzit_origin_no = #{ahzitOriginNo} -->
		select 
			a.ahzit_no, iaa.attachment_no, iaa.attachment_name, iaa.attachment_type, iaa.attachment_size, iaa.attachment_date 
		from ahzit a left outer join
			(select * from ahzit_attachment aa inner join attachment a on 
        	aa.ahzit_attachment_no = a.attachment_no) iaa on a.ahzit_no = iaa.ahzit_origin_no where ahzit_origin_no= #{ahzitOriginNo}
	</select> 

	<!-- 1:1 문의 게시판 첨부파일 등록 -->
	<insert id = "insertInquireAttachment" parameterType = "map">
		insert into inquire_attachment(inquire_origin_no, inquire_attachment_no) values(#{inquireOriginNo}, #{inquireAttachmentNo})
	</insert>
	
	<!-- 1:1 문의 게시글 원본 번호와 연결된 첨부파일 조회  -->
	<select id = "selectInquireAttachment" parameterType = "int" resultType = "AttachmentDto">
		select iaa.attachment_no, iaa.attachment_name, iaa.attachment_type, iaa.attachment_size, iaa.attachment_date from inquire i left outer join
		(select * from inquire_attachment ia inner join attachment a on ia.inquire_attachment_no = a.attachment_no) iaa on i.inquire_no = iaa.inquire_origin_no where i.inquire_no = #{inquireAttachmentNo}
	</select>
	
	<!-- 게시글 수정 시 첨부파일 재등록 위한 첨부파일 삭제 -->
	<delete id = "deleteInquireAttachment" parameterType = "int">
		delete inquire_attachment where inquire_attachment_no = #{attachmentNo}
	</delete>
	
	<!-- 소모임 내 첨부파일-->
	<insert id="InsertAhzitInAttachment" parameterType="map">
		insert into ahzit_in_attachment(ahzit_in_attachment_no, ahzit_in_member_no) values (#{ahzitInAttachmentNo}, #{ahzitInMemberNo})
	</insert>

	<!-- 소모임 내 첨부파일 조회 -->
	<select id="selectAhzitInAttachment" parameterType="int" resultType="AttachmentDto">
		select aaia.attachment_no, aaia.attachment_name, aaia.attachment_type, aaia.attachment_size, aaia.attachment_date
			from 
		ahzit_member am 
			inner join (select * from attachment inner join ahzit_in_attachment on attachment_no = ahzit_in_attachment_no) aaia 
			on 
		am.member_no = aaia.ahzit_in_member_no where am.member_ahzit_no = #{memberAhzitNo}
	</select>
	
</mapper>