<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "freeboard_like">

	<!-- 자유 게시글 좋아요 등록 -->
	<insert id = "insert" parameterType = "FreeboardLikeDto">
		insert into freeboard_like(freeboard_like_no, freeboard_like_id) values(#{freeboardLikeNo}, #{freeboardLikeId})
	</insert>
	
	<!-- 자유 게시글 좋아요 여부를 위한 갯수 조회 -->
	<select id = "isLike" parameterType = "map" resultType = "int">
		select count(*) from freeboard_like where freeboard_like_no = #{freeboardLikeNo} and freeboard_like_id = #{freeboardLikeId}
	</select>
	
	<!-- 자유 게시글 좋아요 삭제 -->
	<delete id = "delete" parameterType = "FreeboardLikeDto">
		delete freeboard_like where freeboard_like_no = #{freeboardLikeNo} and freeboard_like_id = #{freeboardLikeId}
	</delete>
	
</mapper>