<?xml version="1.0" encoding="UTF-8"?>

<!-- DOCTYPE 설정을 통해 자동완성 + 문법검사 수행 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper 내부에 SQL 구문을 배치
	- namespace : 외부에서 부르기 위한 별칭(테이블명으로 작성)
-->
<mapper namespace="schedule">

		<!-- 시퀀스 발행 -->
  		<select id="sequence" resultType="int">
  			select schedule_seq.nextval from dual
  		</select>
  		
  		<!-- 아지트 번호로 스케줄 목록 검색하여 출력 -->
  		<select id="list" parameterType="int" resultType="ScheduleDto">
  			select schedule_no, schedule_member_no, schedule_ahzit_no, schedule_title, 
  			to_char(schedule_start, 'YYYY-MM-DD HH24:MI:SS') schedule_start, 
  			to_char(schedule_end, 'YYYY-MM-DD HH24:MI:SS') schedule_end,  
  			schedule_allday from schedule where schedule_ahzit_no=#{scheduleAhzitNo}
  		</select>
  		
  		<!-- 로그인한 유저가 일정페이지에서 스케줄 입력 -->
  		<insert id="insert" parameterType="ScheduleDto">
  			insert into schedule values(schedule_seq.nextval, #{scheduleMemberNo}, #{scheduleAhzitNo}, #{scheduleTitle}, to_date(#{scheduleStart},'YYYY-MM-DD HH24:MI:SS'), to_date(#{scheduleEnd},'YYYY-MM-DD HH24:MI:SS'), #{scheduleAllday});
  		</insert>
  		
  		<!-- 스케줄 입력(시퀀스번호 미리발행 -->
		<insert id="insert2" parameterType="ScheduleDto">
			insert into schedule(schedule_no, schedule_member_no, schedule_ahzit_no, schedule_title, schedule_start, schedule_end, schedule_allday) values(#{scheduleNo}, #{scheduleMemberNo}, #{scheduleAhzitNo}, #{scheduleTitle}, to_date(#{scheduleStart},'YYYY-MM-DD HH24:MI:SS'), to_date(#{scheduleEnd},'YYYY-MM-DD HH24:MI:SS'), #{scheduleAllday})
		</insert>
		
		
</mapper>